---
import ImageGrid from "../../components/mdx/ImageGrid.astro";
import Base from "../../layouts/Base.astro";

const title = "Photos";
const description = "My Photos";
---

<Base title={title} description={description}>
  <section>
    <h1 class="mb-8 text-2xl font-medium tracking-tight">Photos</h1>

    <ImageGrid
      columns={2}
      images={[
        { src: "/photos/artwork/pancake-breakfast.jpg", alt: "Pancakes for Breakfast" },
        { src: "/photos/artwork/beau-woman.jpg", alt: "Indian woman" },
      ]}
    />

  <ImageGrid
    columns={3}
    images={[
      { src: "/photos/artwork/dysfunctional-teapot.jpg", alt: "Donald Norman Teapot" },
      { src: "/photos/artwork/girl-pencil-sketch.jpg", alt: "A Girl Sketch" },
      { src: "/photos/artwork/abstract-canvas.jpg", alt: "Abstract CissrCoss" },
    ]}
  />

  <ImageGrid
    columns={2}
    images={[
      { src: "/photos/artwork/lone-woman.jpg", alt: "Lone Woman" },
    ]}
  />

  </section>
</Base>
